<!-- //Answers Screen -->

<%- include ('./partials/head') %> 
<body>
    <%- include( './partials/navbar')%>
   <section class="container">
    <header>
        <h1 class="fw-400"><%= question.title %></h1>
        <hr>
        <p><%= question.description %> </p>
    </header>

    <form action="/responder" method="POST">
        <label for="corpo">Type your answer:</label>
        <textarea name="corpo" class="form-control material__border" autofocus></textarea>
        <input type="hidden" name="pergunta" value="<%= question.id %>">
        <button type="submit"  class="btn material__btn material__shadow-none material_pr">answer</button>
    </form>
   </section>
</body>
<%- include( './partials/scripts') %> 


<!-- Basta digita apt get install e nomedopacote como root. -->