<%- include ('./partials/head') %>
<body>
    <%- include( './partials/navbar')%>
   <section class="container">
    <header>
        <h1 class="fw-400"><%= question.title %> </h1>
        <hr>

        <p><%= question.description %> </p>
    </header>
   </section>
</body>
<%- include( './partials/scripts') %> 
